@media (max-width: 1439px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,minmax(270px,auto));
        }
        &__ratings {
            grid-template-columns: repeat(2,minmax(350px,auto));
            grid-template-rows: repeat(3,minmax(70px,auto));
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2,235px)/repeat(4,235px);
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px/repeat(2,minmax(280px,auto));
        }
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: reepeat(auto-fit, 350px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 5px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 65px 0 65px;
            grid-template-columns: repeat(2, 400px);
            column-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 235px);
            grid-auto-rows: 235px;
            justify-content: space-around;
            row-gap: 5px;
            .horizontal, .vertical{
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 24px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .promo-menu {
        &__text {
            line-height: 40px;
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 10px 0 10px;
            grid-template-columns: repeat(2, 350px);
            column-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            padding: 0 20px;
            gap: 50px
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
                grid-column: 1/3;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,235px);
            grid-auto-rows: 235px;
            row-gap: 35px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto  / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            padding: 60px 10px 0 10px;
            grid-template-columns: repeat(2, 240px);
            column-gap: 40px;
        }
    }
    .skills {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit,225px);
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,250px);
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 20px;
            line-height: 40px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__btns {
            margin-top: 30px;
        }
        background: url('../img/main_bg.jpg') no-repeat 58%/cover;
    }
    .promo-menu {
        &__block {
            padding-left: 20px;
        }
        &__text {
            margin: 0 10px 10px 0;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 10px 0 10px;
            grid-template-columns: repeat(1, minmax(280px, auto));
            column-gap: unset;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}